{% extends 'base.html' %}
{% load urlify %}
{% block title %}Detail{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			{% if instance.image %}
			<img src="{{ instance.image.url }}" class='img-responsive'/>
			{% endif %}
			<h2>{{instance.title}} 
			{% if instance.draft %}
				<span style="color:green">Draft</span>
			{% endif %}
			<small>{{instance.published | timesince}} ago</small>
			</h2>
			<p>Author : {{instance.user}} {% if instance.user.get_full_name %}| {{ instance.user.get_full_name }} {% endif %}</p>
			<hr>
			<div class="fb-like" data-href="{{ request.build_absolute_uri}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

			<!--Social share links-->
<!-- 			<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
			Facebook
			</a>

			<a href="https://twitter.com/home?status={{instance.content|urlify|truncatechars:20}}%20{{request.build_absolute_uri}}">
			Twitter
			</a>

			<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Google+</a>

			<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title}}summary={{share_string}}&source={{request.build_absolute_uri}}">
			Linkedin
			</a>

			<a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}&title={{share_string}}">Reddit</a>
			<br> -->
			<hr>
			<!--Ends here -->
				<div class="row">
					<div class="col-sm-12">
						{{instance.content }}<br/>
					</div>
				</div>
			<hr>
			<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>


		</div>
	</div>

{% endblock %}